@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&display=swap');*{
    font-family: 'Lora', sans-serif;
    --paragraphColor : #fff;
    --themeColor:#ff8906;
    --primaryColor : #9B59B6;
    --backgroundColor: #000;
}



.App {
  text-align: center;
  background: transparent;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/*---------------------------- Home -------------------------------*/
.Home{
  background: transparent;
}
.Home p,
.about p{
  color: var(--paragraphColor);
  font-family: 'Lora', sans-serif;
}

.Home .container{
  width: 90vw;
}

/*---------------------------- Home -------------------------------*/
.techStack h5,
.about h5,
.project h5{
  color: var(--paragraphColor);
}

.icondata{
  max-width: 250px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: auto;
  color: var(--backgroundColor) !important;
  background: var(--paragraphColor) !important;
  border:4px solid var(--primaryColor) !important;
  border-radius: 15px !important;
  opacity: 1 !important;
  transition: none !important;
  
}
/*--------------Projects Container--------------*/
.projects{
	height:40vh ;
	position: relative;
	overflow: hidden;
  cursor: pointer;
}

/* .caption {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	transition: 0.5s;
	opacity: 0;
	background-color: rgba(0,0,0,0)
}

.caption h1 {
  font-family: 'Lora', sans-serif;
  color: var(--paragraphColor);
} */
.projects:hover {
	opacity: 1;
	background-color: rgba(0,0,0,.5);
}
.projects img{
  width: 100%;
  height: 100%;
	transition: all .5s;
}
.projects:hover img {
	transform: scale(1.02) rotate(0.7deg);
}
.projectInfo{
  font-family: 'Lora', sans-serif;
  color: var(--paragraphColor);
}
.projectInfo .btn{
  background-color: var(--primaryColor);
  color: var(--paragraphColor);
}
.projectInfo .btn :hover{
  background-color: var(--primaryColor);
  color: var(--paragraphColor);
  transform: scale(1.02);
}
